In [27]:
import pandas as pd

In [28]:
def data_clean(link,skip_rows):
    
    df=pd.read_csv(link,skiprows=skip_rows)
    #df=pd.read_json(link)
    #df=pd.read_excel(link)
    #df=pd.read_html(link)
    df.dropna(how='all',inplace=True)
    df.drop_duplicates(inplace=True)
    return df

In [29]:
df=data_clean(r'C:\Users\Osamah\code python\Data Analysis\Orders.csv',0)
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,sami,altawil,Sami.altawil@mail.com,Tel: 5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,AHMAD.IAD@MAIL.COM,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [30]:
#upper the frist chart
df['City']=df['City'].str.title()

In [31]:
df['Branch']=df['Branch'].str.upper()
df['Email']=df['Email'].str.lower()

In [32]:
df['Phone Number']=df['Phone Number'].str.replace('Tel: ','')

In [33]:
df['Unit Price']=df['Unit Price'].round(0)
df['Discount']=df['Discount'].round(0)

In [34]:
#add column to the df just write name the column and add value that well add in the last the table
df['Total price']=df['Quantity']*df['Unit Price']

In [35]:
df['Discount']=df['Discount'].fillna(0)

In [36]:
df['Cost']=df['Total price']-df['Discount']

In [37]:
#other way to insert column for the df
df.insert(9,'Customer full Name',df['Customer First Name']+' '+df['Customer Last Name'])

In [38]:
df.insert(5,'Branch Name',df['Branch'].str[:2])

In [39]:
df

,Order ID,Order Date,Country,City,Branch,Branch Name,Lat,Lng,Customer First Name,Customer Last Name,...,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total price,Cost
0,1.0,1/1/2023,Syria,Homs,HS01,HS,34.7326,36.7136,lina,alrrashid,...,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,omar,eurul,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,RD,24.7743,46.7386,iman,iismaeil,...,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,0.0,True,1299.0,1299.0
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,AD,24.4539,54.3773,ahmad,rihan,...,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0
5,5.0,1/1/2023,USA,Washington,WH01,WH,38.9072,-77.0369,sami,altawil,...,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,CS,33.5731,7.5898,ahmad,iad,...,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0
20000,19997.0,1/9/2023,Syria,Homs,HS01,HS,34.7326,36.7136,ali,kiali,...,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,LV,36.1699,-115.1398,husayn,salayk,...,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,JD,21.4858,39.1925,fatin,bahriin,...,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0
20003,20000.0,1/9/2023,USA,Washington,WH01,WH,38.9072,-77.0369,ahmad,shakur,...,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0

In [59]:
#the condition for the chang the data like if loc[condition,column return for you and can create new column]=the value yoe need to add or change it
df.loc[df['Status']==True,'Item']

1              Galaxy  S21  Ultra
2              Panasonic Lumix GH5
4                    Galaxy Tab A8
5         Sennheiser   HD   450BT
6            Garmin   Fenix   6S
                    ...
19999             PlayStation 4 Pro
20000                  Fossil Gen 6
20001                 PlayStation 2
20002                JBL Live 500BT
20003         Galaxy Watch Active 2
Name: Item, Length: 14013, dtype: object

In [69]:
df.loc[df['Status']==True,'Order Statue']='Done'
df.loc[df['Status']==False,'Order Statue']='Pending'
df

,Order ID,Order Date,Country,City,Branch,Branch Name,Lat,Lng,Customer First Name,Customer Last Name,...,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total price,Cost,Order Statue
0,1.0,1/1/2023,Syria,Homs,HS01,HS,34.7326,36.7136,lina,alrrashid,...,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0,Pending
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,omar,eurul,...,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0,Done
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,RD,24.7743,46.7386,iman,iismaeil,...,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,0.0,True,1299.0,1299.0,Done
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,AD,24.4539,54.3773,ahmad,rihan,...,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0,Done
5,5.0,1/1/2023,USA,Washington,WH01,WH,38.9072,-77.0369,sami,altawil,...,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0,Done
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,CS,33.5731,7.5898,ahmad,iad,...,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0,Done
20000,19997.0,1/9/2023,Syria,Homs,HS01,HS,34.7326,36.7136,ali,kiali,...,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0,Done
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,LV,36.1699,-115.1398,husayn,salayk,...,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0,Done
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,JD,21.4858,39.1925,fatin,bahriin,...,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0,Done
20003,20000.0,1/9/2023,USA,Washington,WH01,WH,38.9072,-77.0369,ahmad,shakur,...,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0,Done

In [71]:
df[df['Order Statue']=='Pending']

,Order ID,Order Date,Country,City,Branch,Branch Name,Lat,Lng,Customer First Name,Customer Last Name,...,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total price,Cost,Order Statue
0,1.0,1/1/2023,Syria,Homs,HS01,HS,34.7326,36.7136,lina,alrrashid,...,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0,Pending
9,8.0,1/1/2023,Egypt,Cairo,CR02,CR,30.0444,31.2357,muhamad,bitahish,...,Anker Soundcore,Anker Soundcore Liberty Air 2 Pro,R389,1.0,99.0,1.0,False,99.0,98.0,Pending
20,19.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,fadi,ahmad,...,Oculus Rift,Oculus Rift S,O247,1.0,399.0,8.0,False,399.0,391.0,Pending
21,20.0,1/1/2023,Saudi Arabia,Riyadh,RD02,RD,24.7743,46.7386,khalid,dbs,...,Anker Soundcore,Anker Soundcore Life Q35,R252,3.0,129.0,8.0,False,387.0,379.0,Pending
23,22.0,1/1/2023,USA,New York,NY03,NY,40.7498,-73.9814,muhamad,zaqzuq,...,JBL Live,JBL Live 500BT,J345,1.0,99.0,0.0,False,99.0,99.0,Pending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19990,19987.0,1/9/2023,Egypt,Asyut,AT01,AT,27.1809,31.1837,ismaeil,alhumwi,...,HP Pavilion,HP Pavilion 15,H520,1.0,799.0,56.0,False,799.0,743.0,Pending
19991,19988.0,1/9/2023,Saudi Arabia,Riyadh,RD02,RD,24.7743,46.7386,muhamad,eurman,...,Lenovo Tab,Lenovo Tab P11 Pro,I036,1.0,499.0,50.0,False,499.0,449.0,Pending
19994,19991.0,1/9/2023,Saudi Arabia,Jeddah,JD01,JD,21.5433,39.1728,ghada,sharaf,...,Microsoft Surface,Surface Pro 7,Y247,1.0,799.0,32.0,False,799.0,767.0,Pending
19995,19992.0,1/9/2023,Egypt,Asyut,AT01,AT,27.1809,31.1837,alaa,khayti,...,Garmin Fenix,Garmin Fenix 6S,C068,1.0,499.0,15.0,False,499.0,484.0,Pending
19996,19993.0,1/9/2023,United Arab Emirates,Abu Dhabi,AD01,AD,24.4539,54.3773,ali,muhamad,...,JBL Link,JBL Link 500,Y958,1.0,249.0,7.0,False,249.0,242.0,Pending

In [73]:
df[df['Order Statue']=='Done']

,Order ID,Order Date,Country,City,Branch,Branch Name,Lat,Lng,Customer First Name,Customer Last Name,...,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total price,Cost,Order Statue
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,omar,eurul,...,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0,Done
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,RD,24.7743,46.7386,iman,iismaeil,...,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,0.0,True,1299.0,1299.0,Done
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,AD,24.4539,54.3773,ahmad,rihan,...,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0,Done
5,5.0,1/1/2023,USA,Washington,WH01,WH,38.9072,-77.0369,sami,altawil,...,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0,Done
6,6.0,1/1/2023,Syria,Aleppo,AL01,AL,36.2021,37.1343,ahed,salim,...,Garmin Fenix,Garmin Fenix 6S,J431,1.0,499.0,5.0,True,499.0,494.0,Done
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,CS,33.5731,7.5898,ahmad,iad,...,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0,Done
20000,19997.0,1/9/2023,Syria,Homs,HS01,HS,34.7326,36.7136,ali,kiali,...,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0,Done
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,LV,36.1699,-115.1398,husayn,salayk,...,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0,Done
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,JD,21.4858,39.1925,fatin,bahriin,...,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0,Done
20003,20000.0,1/9/2023,USA,Washington,WH01,WH,38.9072,-77.0369,ahmad,shakur,...,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0,Done

In [115]:
# multi conditions use loc[(1_condition) & | (2_condition)...,column you need change or creat  ] =the value if you need it
df.loc[(df['Status']==False) & (df['Order Date']<'2023-9-1'),'Order Statue']='Canceled'
df[df['Order Statue']=='Canceled' ]

,Order ID,Order Date,Country,City,Branch,Branch Name,Lat,Lng,Customer First Name,Customer Last Name,...,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total price,Cost,Order Statue
0,1.0,1/1/2023,Syria,Homs,HS01,HS,34.7326,36.7136,lina,alrrashid,...,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0,Canceled
9,8.0,1/1/2023,Egypt,Cairo,CR02,CR,30.0444,31.2357,muhamad,bitahish,...,Anker Soundcore,Anker Soundcore Liberty Air 2 Pro,R389,1.0,99.0,1.0,False,99.0,98.0,Canceled
20,19.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,fadi,ahmad,...,Oculus Rift,Oculus Rift S,O247,1.0,399.0,8.0,False,399.0,391.0,Canceled
21,20.0,1/1/2023,Saudi Arabia,Riyadh,RD02,RD,24.7743,46.7386,khalid,dbs,...,Anker Soundcore,Anker Soundcore Life Q35,R252,3.0,129.0,8.0,False,387.0,379.0,Canceled
23,22.0,1/1/2023,USA,New York,NY03,NY,40.7498,-73.9814,muhamad,zaqzuq,...,JBL Live,JBL Live 500BT,J345,1.0,99.0,0.0,False,99.0,99.0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19990,19987.0,1/9/2023,Egypt,Asyut,AT01,AT,27.1809,31.1837,ismaeil,alhumwi,...,HP Pavilion,HP Pavilion 15,H520,1.0,799.0,56.0,False,799.0,743.0,Canceled
19991,19988.0,1/9/2023,Saudi Arabia,Riyadh,RD02,RD,24.7743,46.7386,muhamad,eurman,...,Lenovo Tab,Lenovo Tab P11 Pro,I036,1.0,499.0,50.0,False,499.0,449.0,Canceled
19994,19991.0,1/9/2023,Saudi Arabia,Jeddah,JD01,JD,21.5433,39.1728,ghada,sharaf,...,Microsoft Surface,Surface Pro 7,Y247,1.0,799.0,32.0,False,799.0,767.0,Canceled
19995,19992.0,1/9/2023,Egypt,Asyut,AT01,AT,27.1809,31.1837,alaa,khayti,...,Garmin Fenix,Garmin Fenix 6S,C068,1.0,499.0,15.0,False,499.0,484.0,Canceled
19996,19993.0,1/9/2023,United Arab Emirates,Abu Dhabi,AD01,AD,24.4539,54.3773,ali,muhamad,...,JBL Link,JBL Link 500,Y958,1.0,249.0,7.0,False,249.0,242.0,Canceled

In [121]:
#othe way to use condition for change data use apply this fun use fun other to do any thang
#df['column to apply condition for him'].apply(func-for the work) and save to new colum or change data column
def level(row):
    if row > 1000:
        return 'High'
    else:
        return 'Low'
df['Cost Level']=df['Cost'].apply(level)
df

,Order ID,Order Date,Country,City,Branch,Branch Name,Lat,Lng,Customer First Name,Customer Last Name,...,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total price,Cost,Order Statue,Cost Level
0,1.0,1/1/2023,Syria,Homs,HS01,HS,34.7326,36.7136,lina,alrrashid,...,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0,Canceled,Low
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,omar,eurul,...,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0,Done,High
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,RD,24.7743,46.7386,iman,iismaeil,...,Panasonic Lumix GH5,I036,1.0,1299.0,0.0,True,1299.0,1299.0,Done,High
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,AD,24.4539,54.3773,ahmad,rihan,...,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0,Done,Low
5,5.0,1/1/2023,USA,Washington,WH01,WH,38.9072,-77.0369,sami,altawil,...,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0,Done,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,CS,33.5731,7.5898,ahmad,iad,...,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0,Done,Low
20000,19997.0,1/9/2023,Syria,Homs,HS01,HS,34.7326,36.7136,ali,kiali,...,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0,Done,Low
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,LV,36.1699,-115.1398,husayn,salayk,...,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0,Done,Low
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,JD,21.4858,39.1925,fatin,bahriin,...,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0,Done,Low
20003,20000.0,1/9/2023,USA,Washington,WH01,WH,38.9072,-77.0369,ahmad,shakur,...,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0,Done,Low

In [123]:
import numpy as np

In [129]:
#this cod to use condition with numpy for the opration on the numbers np.where(condition,if true,if false)
df['Discount Description']=np.where(df['Discount']==0,'No Discount',df['Discount']/df['Cost'])
df

,Order ID,Order Date,Country,City,Branch,Branch Name,Lat,Lng,Customer First Name,Customer Last Name,...,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total price,Cost,Order Statue,Cost Level,Discount Description
0,1.0,1/1/2023,Syria,Homs,HS01,HS,34.7326,36.7136,lina,alrrashid,...,N498,1.0,999.0,40.0,False,999.0,959.0,Canceled,Low,0.04171011470281543
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,omar,eurul,...,X918,1.0,1199.0,120.0,True,1199.0,1079.0,Done,High,0.11121408711770157
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,RD,24.7743,46.7386,iman,iismaeil,...,I036,1.0,1299.0,0.0,True,1299.0,1299.0,Done,High,No Discount
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,AD,24.4539,54.3773,ahmad,rihan,...,E804,2.0,199.0,28.0,True,398.0,370.0,Done,Low,0.07567567567567568
5,5.0,1/1/2023,USA,Washington,WH01,WH,38.9072,-77.0369,sami,altawil,...,Q149,1.0,129.0,4.0,True,129.0,125.0,Done,Low,0.032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,CS,33.5731,7.5898,ahmad,iad,...,M210,1.0,399.0,12.0,True,399.0,387.0,Done,Low,0.031007751937984496
20000,19997.0,1/9/2023,Syria,Homs,HS01,HS,34.7326,36.7136,ali,kiali,...,Z826,2.0,299.0,60.0,True,598.0,538.0,Done,Low,0.11152416356877323
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,LV,36.1699,-115.1398,husayn,salayk,...,K624,1.0,99.0,3.0,True,99.0,96.0,Done,Low,0.03125
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,JD,21.4858,39.1925,fatin,bahriin,...,Y368,1.0,99.0,4.0,True,99.0,95.0,Done,Low,0.042105263157894736
20003,20000.0,1/9/2023,USA,Washington,WH01,WH,38.9072,-77.0369,ahmad,shakur,...,Y590,1.0,249.0,5.0,True,249.0,244.0,Done,Low,0.020491803278688523

In [131]:
#save the data after clear and perprossing
df.to_csv(r'C:\Users\Osamah\code python\Data Analysis\My_Orders.csv',index=False)

In [133]:
df.to_excel(r'C:\Users\Osamah\code python\Data Analysis\My_Orders_ex.xlsx',in)