In [1]:
import pandas as pd

In [2]:
def data_clean(link,skip_rows):
    
    df=pd.read_csv(link,skiprows=skip_rows)
    #df=pd.read_json(link)
    #df=pd.read_excel(link)
    #df=pd.read_html(link)
    df.dropna(how='all',inplace=True)
    df.drop_duplicates(inplace=True)
    return df

In [3]:
df=data_clean(r'C:\Users\Osamah\code python\Data Analysis\Orders.csv',0)
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,abu dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,washington,wh01,38.9072,-77.0369,sami,altawil,Sami.altawil@mail.com,Tel: 5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,casablanca,cs01,33.5731,7.5898,ahmad,iad,AHMAD.IAD@MAIL.COM,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,las vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [4]:
#upper the frist chart
df['City']=df['City'].str.title()
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,Homs,hs01,34.7326,36.7136,lina,alrrashid,LINA.ALRRASHID@MAIL.COM,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,Riyadh,rd01,24.7136,46.6753,omar,eurul,OMAR.EURUL@MAIL.COM,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,Riyadh,rd03,24.7743,46.7386,iman,iismaeil,IMAN.IISMAEIL@MAIL.COM,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,ad01,24.4539,54.3773,ahmad,rihan,AHMAD.RIHAN@MAIL.COM,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,Washington,wh01,38.9072,-77.0369,sami,altawil,Sami.altawil@mail.com,Tel: 5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,cs01,33.5731,7.5898,ahmad,iad,AHMAD.IAD@MAIL.COM,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,Homs,hs01,34.7326,36.7136,ali,kiali,Ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,Las Vegas,lv01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,jd03,21.4858,39.1925,fatin,bahriin,Fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,Washington,wh01,38.9072,-77.0369,ahmad,shakur,Ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [5]:
df['Branch']=df['Branch'].str.upper()
df['Email']=df['Email'].str.lower()
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,Tel: 5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,Tel: 5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,Tel: 5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,Tel: 5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,Tel: 5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,Tel: 5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,Tel: 5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,Tel: 5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,Tel: 5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,Tel: 5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [6]:
df['Phone Number']=df['Phone Number'].str.replace('Tel: ','')
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,39.96,False
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,119.90,True
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,27.86,True
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,3.87,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,11.97,True
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,59.80,True
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,2.97,True
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,3.96,True
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,4.98,True

In [7]:
df['Unit Price']=df['Unit Price'].round(0)
df['Discount']=df['Discount'].round(0)
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True

In [8]:
#add column to the df just write name the column and add value that well add in the last the table
df['Total price']=df['Quantity']*df['Unit Price']
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total price
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,NaN,True,1299.0
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0

In [9]:
df['Discount']=df['Discount'].fillna(0)
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,Phone Number,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total price
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,5634962795,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,5311455624,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,5272740777,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,0.0,True,1299.0
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,5783343440,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,5352774687,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,5880578642,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,5286384144,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,5463888674,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,5931562498,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,5338549800,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0

In [10]:
df['Cost']=df['Total price']-df['Discount']
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Email,...,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total price,Cost
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina.alrrashid@mail.com,...,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar.eurul@mail.com,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman.iismaeil@mail.com,...,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,0.0,True,1299.0,1299.0
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad.rihan@mail.com,...,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami.altawil@mail.com,...,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad.iad@mail.com,...,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali.kiali@mail.com,...,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn.salayk@mail.com,...,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin.bahriin@mail.com,...,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad.shakur@mail.com,...,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 0 to 20003
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Order ID             20000 non-null  float64
 1   Order Date           20000 non-null  object
 2   Country              20000 non-null  object
 3   City                 20000 non-null  object
 4   Branch               20000 non-null  object
 5   Lat                  20000 non-null  float64
 6   Lng                  20000 non-null  float64
 7   Customer First Name  20000 non-null  object
 8   Customer Last Name   20000 non-null  object
 9   Email                20000 non-null  object
 10  Phone Number         20000 non-null  object
 11  Category             20000 non-null  object
 12  Sub Category         20000 non-null  object
 13  Item                 20000 non-null  object
 14  SalesPerson ID       20000 non-null  object
 15  Quantity             20000 non-null  float64
 16  Unit Price           20000 non-null  float64
 17  Discount             20000 non-null  float64
 18  Status               20000 non-null  object
 19  Total price          20000 non-null  float64
 20  Cost                 20000 non-null  float64
dtypes: float64(8), object(13)
memory usage: 3.4+ MB

In [12]:
#other way to insert column for the df
df.insert(9,'Customer full Name',df['Customer First Name']+' '+df['Customer Last Name'])
df

,Order ID,Order Date,Country,City,Branch,Lat,Lng,Customer First Name,Customer Last Name,Customer full Name,...,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total price,Cost
0,1.0,1/1/2023,Syria,Homs,HS01,34.7326,36.7136,lina,alrrashid,lina alrrashid,...,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,24.7136,46.6753,omar,eurul,omar eurul,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,24.7743,46.7386,iman,iismaeil,iman iismaeil,...,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,0.0,True,1299.0,1299.0
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,24.4539,54.3773,ahmad,rihan,ahmad rihan,...,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0
5,5.0,1/1/2023,USA,Washington,WH01,38.9072,-77.0369,sami,altawil,sami altawil,...,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,33.5731,7.5898,ahmad,iad,ahmad iad,...,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0
20000,19997.0,1/9/2023,Syria,Homs,HS01,34.7326,36.7136,ali,kiali,ali kiali,...,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,36.1699,-115.1398,husayn,salayk,husayn salayk,...,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,21.4858,39.1925,fatin,bahriin,fatin bahriin,...,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0
20003,20000.0,1/9/2023,USA,Washington,WH01,38.9072,-77.0369,ahmad,shakur,ahmad shakur,...,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0

In [13]:
df.insert(5,'Branch Name',df['Branch'].str[:2])
df

,Order ID,Order Date,Country,City,Branch,Branch Name,Lat,Lng,Customer First Name,Customer Last Name,...,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total price,Cost
0,1.0,1/1/2023,Syria,Homs,HS01,HS,34.7326,36.7136,lina,alrrashid,...,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,omar,eurul,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,RD,24.7743,46.7386,iman,iismaeil,...,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,0.0,True,1299.0,1299.0
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,AD,24.4539,54.3773,ahmad,rihan,...,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0
5,5.0,1/1/2023,USA,Washington,WH01,WH,38.9072,-77.0369,sami,altawil,...,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,CS,33.5731,7.5898,ahmad,iad,...,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0
20000,19997.0,1/9/2023,Syria,Homs,HS01,HS,34.7326,36.7136,ali,kiali,...,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,LV,36.1699,-115.1398,husayn,salayk,...,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,JD,21.4858,39.1925,fatin,bahriin,...,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0
20003,20000.0,1/9/2023,USA,Washington,WH01,WH,38.9072,-77.0369,ahmad,shakur,...,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0

In [46]:
df

,Order ID,Order Date,Country,City,Branch,Branch Name,Lat,Lng,Customer First Name,Customer Last Name,...,Category,Sub Category,Item,SalesPerson ID,Quantity,Unit Price,Discount,Status,Total price,Cost
0,1.0,1/1/2023,Syria,Homs,HS01,HS,34.7326,36.7136,lina,alrrashid,...,Tablet,Apple iPad,"iPad Pro 12.9""",N498,1.0,999.0,40.0,False,999.0,959.0
1,2.0,1/1/2023,Saudi Arabia,Riyadh,RD01,RD,24.7136,46.6753,omar,eurul,...,Smartphone,Samsung Galaxy,Galaxy S21 Ultra,X918,1.0,1199.0,120.0,True,1199.0,1079.0
2,3.0,1/1/2023,Saudi Arabia,Riyadh,RD03,RD,24.7743,46.7386,iman,iismaeil,...,Digital Camera,Panasonic Lumix,Panasonic Lumix GH5,I036,1.0,1299.0,0.0,True,1299.0,1299.0
4,4.0,1/1/2023,United Arab Emirates,Abu Dhabi,AD01,AD,24.4539,54.3773,ahmad,rihan,...,Tablet,Samsung Galaxy Tab,Galaxy Tab A8,E804,2.0,199.0,28.0,True,398.0,370.0
5,5.0,1/1/2023,USA,Washington,WH01,WH,38.9072,-77.0369,sami,altawil,...,Headphones,Sennheiser HD,Sennheiser HD 450BT,Q149,1.0,129.0,4.0,True,129.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,19996.0,1/9/2023,Morocco,Casablanca,CS01,CS,33.5731,7.5898,ahmad,iad,...,Gaming Console,Sony PlayStation,PlayStation 4 Pro,M210,1.0,399.0,12.0,True,399.0,387.0
20000,19997.0,1/9/2023,Syria,Homs,HS01,HS,34.7326,36.7136,ali,kiali,...,Smartwatch,Fossil Gen,Fossil Gen 6,Z826,2.0,299.0,60.0,True,598.0,538.0
20001,19998.0,1/9/2023,USA,Las Vegas,LV01,LV,36.1699,-115.1398,husayn,salayk,...,Gaming Console,Sony PlayStation,PlayStation 2,K624,1.0,99.0,3.0,True,99.0,96.0
20002,19999.0,1/9/2023,Saudi Arabia,Jeddah,JD03,JD,21.4858,39.1925,fatin,bahriin,...,Headphones,JBL Live,JBL Live 500BT,Y368,1.0,99.0,4.0,True,99.0,95.0
20003,20000.0,1/9/2023,USA,Washington,WH01,WH,38.9072,-77.0369,ahmad,shakur,...,Smartwatch,Samsung Galaxy,Galaxy Watch Active 2,Y590,1.0,249.0,5.0,True,249.0,244.0